

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {
    font-family: 'socialicoregular';
    src: url('../fonts/socialico-webfont.eot');
    src: url('../fonts/socialico-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/socialico-webfont.woff') format('woff'),
         url('../fonts/socialico-webfont.ttf') format('truetype'),
         url('../fonts/socialico-webfont.svg#socialicoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	background: url(../img/14.jpeg) no-repeat center -1000px #323232;
	background-size: 1500px;
	
}

img#bg{
	width: 100%;
	display: inline;
	z-index: -100;
	position: absolute;
	top: -700px;
}



.headline-container {

	position: relative;
	
	margin-left: auto;
	margin-right: auto;

	
	margin-top: 40px;

	
	text-align: center;
	
	width: 760px;



/*	text-align: center;
	margin-top: 100px;
	margin-bottom: 600px;
	margin-left: auto;
	margin-right: auto;
	position: relative;*/
}

.headline-container h1 {
	font-family: "chinese-rocks",sans-serif;
	font-style: normal;
	font-weight: 400;
	text-shadow: -8px 8px 40px rgba(255, 248, 64, 0.4), 8px -8px 40px rgba(255, 248, 64, 0.4), -8px -8px 40px rgba(255, 248, 64, 0.4), 8px 8px 40px rgba(255, 248, 64, 0.4);
	color: rgba(0, 0, 0, 0.5);

}

.headline-container h1#the {
	-webkit-transform:rotate(-90deg);
	-moz-transform:rotate(-90deg);
	-o-transform: rotate(-90deg);
	
	font-size: 110px;
	display: inline-block;
	
	position: absolute;
	left: 0px;


}

.headline-container h1#responsive_headline {


	font-size: 200px;
	display: inline;
	
	position: absolute;
	right: 0px;

}

#social-icons {
	margin-top: 400px;
	margin-left: auto;
	margin-right: auto;
	width: 680px;
	height: 80px;
	text-align: center;
}

#social-icons ul {
	list-style: none;
	display: block;
}

#social-icons ul li {
	float: left;
	margin-left: 20px;
	margin-right: 20px;
}

#social-icons li a {
	font: 80px 'socialicoregular';
	text-shadow: -8px 8px 40px rgba(255, 248, 64, 0.4), 8px -8px 40px rgba(255, 248, 64, 0.4), -8px -8px 40px rgba(255, 248, 64, 0.4), 8px 8px 40px rgba(255, 248, 64, 0.4);
	color: rgba(0, 0, 0, 0.5);
}




#content-wrapper {
	background-color: rgba(24, 24, 24, 0.47);
	padding-bottom: 1000px;
	margin-top: 10px;
}

#content-wrapper h1, #content-wrapper p {
	color: #e4e4e4;
}




footer {
	margin-bottom: 1000px;
}















