

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {
    font-family: 'socialicoregular';
    src: url('../fonts/socialico-webfont.eot');
    src: url('../fonts/socialico-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/socialico-webfont.woff') format('woff'),
         url('../fonts/socialico-webfont.ttf') format('truetype'),
         url('../fonts/socialico-webfont.svg#socialicoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html {
	background: url(../img/ravenna.png) repeat;
}

body {
	background: url(../img/bg.jpg) no-repeat center -1000px, #323232;
	background-size: 1500px;

}

img#bg{
	width: 100%;
	display: inline;
	z-index: -100;
	position: absolute;
	top: -700px;
}



.headline-container {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	text-align: center;
	width: 760px;

/*	text-align: center;
	margin-top: 100px;
	margin-bottom: 600px;
	margin-left: auto;
	margin-right: auto;
	position: relative;*/
}

.headline-container h1 {
	font-family: "chinese-rocks",sans-serif;
	font-style: normal;
	font-weight: 400;
/*	text-shadow: -8px 8px 40px rgba(255, 248, 64, 0.1), 8px -8px 40px rgba(255, 248, 64, 0.1), -8px -8px 40px rgba(255, 248, 64, 0.1), 8px 8px 40px rgba(255, 248, 64, 0.1);*/
	color: rgba(0, 0, 0, 0.7);

}

.headline-container:hover h1 {
		text-shadow: -8px 8px 80px rgba(255, 248, 64, 0.1), 8px -8px 80px rgba(255, 248, 64, 0.1), -8px -8px 80px rgba(255, 248, 64, 0.1), 8px 8px 80px rgba(255, 248, 64, 0.1);
}

.headline-container h1#the {
	-webkit-transform:rotate(-90deg);
	-moz-transform:rotate(-90deg);
	-o-transform: rotate(-90deg);
	font-size: 110px;
	display: inline-block;
	position: absolute;
	left: 0px;
}

.headline-container h1#responsive_headline {
	font-size: 200px;
	display: inline;
	position: absolute;
	right: 0px;
}

#social-icons {
	margin-top: 400px;
	margin-left: auto;
	margin-right: auto;
	width: 680px;
	height: 80px;
	text-align: center;
}

#social-icons ul {
	list-style: none;
	display: block;
	margin-left: 50px;
}

#social-icons ul li {
	float: left;
	margin-left: 20px;
	margin-right: 20px;
}

#social-icons li a {
	font: 80px 'socialicoregular';
text-shadow: -8px 8px 40px rgba(255, 248, 64, 0.2), 8px -8px 40px rgba(255, 248, 64, 0.2), -8px -8px 40px rgba(255, 248, 64, 0.2), 8px 8px 40px rgba(255, 248, 64, 0.2);
color: rgba(0, 0, 0, 0.7);
}

#social-icons li a:hover {
	text-shadow: -8px 8px 60px rgba(255, 248, 64, 0.4), 8px -8px 60px rgba(255, 248, 64, 0.4), -8px -8px 60px rgba(255, 248, 64, 0.4), 8px 8px 60px rgba(255, 248, 64, 0.4);
	text-decoration: none;
}

#content-wrapper {
	background-color: rgba(24, 24, 24, 0.47);
	padding-bottom: 10px;
	margin-top: 10px;
}

#content-wrapper h1, #content-wrapper p {
	color: #e4e4e4;
	text-shadow: -1px -1px 0 #000;
}

#content-wrapper p {
	color: #d9d9d9;
	font-size: 14px;
	letter-spacing: 1px;
	padding-right: 40px;
}

#content-wrapper h2, #content-wrapper h3 {
	color: rgba(255, 248, 64, 0.8);
}

/*FACEBOOK STUFF*/

.content-right {
	margin-left: 0px;
	padding-top: 10px;
}

.fb-box {
	width: 100%;
	margin-right: -30px;
	background-color: rgba(0, 0, 0, 0.6);
}

.main-content {
	padding-top: 10px;
	padding-left: 20px;
}
/*
.bio-wrapper {
	display: block;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 140px;
}
.bio-links {
	list-style: none;
}

.bio-links li {
	float: left;
	position: relative;
	margin-left: 40px;
	margin-right: 40px;
}

.bio-links li a {
	font: 80px 'socialicoregular';
	text-shadow: -8px 8px 40px rgba(255, 248, 64, 0.2), 8px -8px 40px rgba(255, 248, 64, 0.2), -8px -8px 40px rgba(255, 248, 64, 0.2), 8px 8px 40px rgba(255, 248, 64, 0.2);
	color: rgba(0, 0, 0, 0.7);
}

.bio-links li:hover a {
	text-shadow: -8px 8px 60px rgba(255, 248, 64, 0.4), 8px -8px 60px rgba(255, 248, 64, 0.4), -8px -8px 60px rgba(255, 248, 64, 0.4), 8px 8px 60px rgba(255, 248, 64, 0.4);
	text-decoration: none;
}

.bio-links li a .bio-name {
	font: 14px sans-serif;
	color: rgba(255, 248, 64, 0.8);
	letter-spacing: 1px;
	position: absolute;
	bottom: -40px;
	left: 5px;
}

#chance {
	left: 0px;
}

#andy {
	left: 8px;
}

.bio-pic {
	display: block;
	width: 100px;
	float: left;
	position: absolute;
	top: -15px;
	left: 1px;
}*/

.album {
	margin-top: 20px;
	margin-bottom: 20px;
}

.album .album-middle p {
	padding-right: 0px !important;
}

.album-left img {
	height: 250px;
	width: 250px;
	float: right;
}

.album-links {
	list-style: none;
}

.album-links li {
	float: left;
	margin-left: 0px;
	margin-right: 30px;
}

.album-links li a {
	font: 80px 'socialicoregular';
	text-shadow: -8px 8px 40px rgba(255, 248, 64, 0.2), 8px -8px 40px rgba(255, 248, 64, 0.2), -8px -8px 40px rgba(255, 248, 64, 0.2), 8px 8px 40px rgba(255, 248, 64, 0.2);
	color: rgba(0, 0, 0, 0.7);
}

.album-links li a:hover {
	text-shadow: -8px 8px 60px rgba(255, 248, 64, 0.4), 8px -8px 60px rgba(255, 248, 64, 0.4), -8px -8px 60px rgba(255, 248, 64, 0.4), 8px 8px 60px rgba(255, 248, 64, 0.4);
	text-decoration: none;
}

footer {
	margin-bottom: 0px;
	padding-left: 20px;
}
.copyright {
	float: left;
}
.credit {
	float: right;
}















